apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: ops-demo
  namespace: ops-demo
  labels:
    app: ops-demo
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: ops-demo
  minReplicas: 2
  maxReplicas: 6
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 30
  behavior:
    scaleDown:
      stabilizationWindowSeconds: 30
