apiVersion: actions.summerwind.dev/v1alpha1
kind: RunnerDeployment
metadata:
  name: gitops-workshop-runner
  namespace: actions-runner-system
spec:
  replicas: 1
  template:
    spec:
      serviceAccountName: arc-runner
      repository: rajan-sharma-in/gitops-workshop
      labels:
        - self-hosted
        - kind
      dockerEnabled: true          # start a DinD sidecar
      dockerdWithinRunnerContainer: false
      # Optional: cache volume for docker layers
      volumeMounts:
        - name: dind-storage
          mountPath: /var/lib/docker
      volumes:
        - name: dind-storage
          emptyDir: {}
